[tool.black]
line-length = 80
target-version = ["py312"]

[tool.ruff]
line-length = 80

[tool.ruff.lint]
select = ["E", "F", "W"]
ignore = ["E501"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"