methods:
  - type: evolutionary_dynamics
    kwargs:
      initial_population: uniform
      steps: 100
      lr_method: constant
      lr_nu: 0.1
  - type: deviation_rating
    kwargs:
      tolerance: 1e-14
